services:
  db:
    image: postgres:16
    container_name: stock_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: stockmarket
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d stockmarket"]
      interval: 3s
      timeout: 3s
      retries: 20

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: stock_api
    env_file:
      - .env.docker
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: